<form [formGroup]="customerModel.formCustomerGroup">
  Customer Name :<input formControlName="CustomerNameControl" [(ngModel)]="customerModel.customerName" type="text"/><br>
  Customer Code :<input formControlName="CustomerCodeControl" [(ngModel)]="customerModel.customerCode" type="text"/><br>
  Customer Amount :<input [(ngModel)]="customerModel.customerAmount" type="text" [ngModelOptions]="{standalone: true}"/><br>
  <input [disabled]="!(customerModel.formCustomerGroup.valid)" (click)="add()" type=button value="Add"/>
  <input [disabled]="disablePost" type="button" value="Send to Server" (click)="postToServer()"/>
</form>
{{customerModel.customerCode}}<br>
{{customerModel.customerName}}<br>
{{customerModel.customerAmount}}<br>

<div
  *ngIf="customerModel.formCustomerGroup.dirty"
  [hidden]="!hasControlError('CustomerCodeControl', 'pattern')">
  Customer code format is not proper
</div><br>
<div
  *ngIf="customerModel.formCustomerGroup.dirty"
  [hidden]="!hasControlError('CustomerCodeControl', 'required')">
  Customer code is required
</div><br>
<div
  *ngIf="customerModel.formCustomerGroup.dirty"
  [hidden]="!hasControlError('CustomerNameControl', 'required')">
  Customer name is required
</div><br>


<app-grid-ui
  [grid-columns]="[{'colName': 'customerCode'}, {'colName': 'customerName'}, {'colName': 'customerAmount'}]"
  [grid-data]="customerModels"
  (grid-selected)="selectCustomer($event)"
></app-grid-ui>
